
<div class="comments-container">

  <% if logged_in? %>
    <%= link_to 'Create new post', new_post_path, class: 'btn btn-primary' %>
  <% end %>

    <ul class="comment-l-prim container-fluid">
      <ul class="row comment-l-sec title-row">
        <li class="col col-sm-3"><h2 class="comment-title">Author</h2></li>
        <li class="col col-sm-6"><h2 class="comment-title">Comment</h2></li>
        <li class="col col-sm-3"><h2 class="comment-title">Target</h2></li>
      </ul>
    <% @posts.each do |comment|%>
      <ul class="row comment-l-sec">
        <li class="col col-sm-3">
          <%= User.find(comment.user_id).name if logged_in? %>
          <%= '[Log in to reveal]' unless logged_in? %>
        </li>
        <li class="col col-sm-6">
          <%= comment.content %>
        </li>
        <li class="col col-sm-3">
          <%= Anonuser.find(comment.anonuser_id).name %>
        </li>
      </ul>
      <br>
    <% end %>  
  </ul>

</div>

